In [1]:
import json
from pprint import pprint
import pandas as pd
from glob import glob

In [12]:
with open('./all_personas.json') as f:
    persona_data = json.load(f)
persona_df = pd.DataFrame(persona_data)
# Change keys to lowercase
persona_df.columns = [x.lower() for x in persona_df.columns]
# Change marital status to marital_status
persona_df.rename(columns={"marital status": "marital_status"}, inplace=True)
# Add id column
persona_df["id"] = persona_df.index.astype(str).str.zfill(3)
persona_df.to_json("all_personas.json", orient="records")
persona_df

,age,gender,education,marital_status,job,hobbies,id
0,32,she/her/her,Bachelor's degree,Married with two children,Marketing Manager,"[Yoga, Reading, Traveling]",000
1,27,they/their/their,Associate's degree,Single,Software Developer,"[Gaming, Hiking, Cooking]",001
2,45,he/his/him,Master's degree,Married with no children,CEO,"[Golfing, Fine dining, Traveling]",002
3,29,he/his/him,High School Diploma,Single,Delivery Driver,"[Basketball, Listening to music, Playing video...",003
4,38,she/her/her,Master's degree,Divorced with one child,Attorney,"[Running, Cooking, Wine tasting]",004
5,56,he/his/him,PhD,Married with grown children,College Professor,"[Reading, Watching documentaries, Gardening]",005
6,42,she/her/her,Doctorate degree,Married with three children,Surgeon,"[Running marathons, Cooking international cuis...",006
7,31,they/their/their,Master's degree,Single,Graphic Designer,"[Photography, Playing guitar, Hiking]",007
8,49,she/her/her,Bachelor's degree,Married with two children,Teacher,"[Gardening, Painting, Baking]",008
9,57,he/his/him,High school diploma,Divorced with grown children,Construction Worker,"[Fishing, Fixing up old cars, Watching football]",009